.x-follow-card {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}

.x-follow-card-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.x-follow-card-info {
  display: flex;
  flex-direction: column;
}

.x-follow-card-infoUserName {
  opacity: .6;
}

.x-follow-card-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.x-follow-card-button {
  margin-left: 8px;
  border: 2;
  border-radius: 99px;
  padding: 2px 4px;
  font-weight: bold;
}